.grid-container.grid-container {
    display: grid!important;
    grid-gap: 10px!important;
    grid-template-columns: auto auto auto;
    background-color: inherit!important;
    padding: 10px!important;
  }
  
  .grid-item.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    font-size: 30px;
    width: 100%;
    border-style: dashed;
    border-color: white!important;
    border-width: 1px;
  }
  .grid-item.grid-item *{
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
  }

/* four columns*/
.grid-container4.grid-container4 {
  display: grid!important;
  grid-gap: 10px!important;
  grid-template-columns: auto auto auto auto;
  background-color: inherit!important;
  padding: 10px!important;
}

.grid-item4.grid-item4 {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  font-size: 30px;
  width: 100%;
  border-style: dashed;
  border-color: white!important;
  border-width: 1px;
}
.grid-item4.grid-item4 *{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

  












  .item1.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .item2.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  
  .item5.item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
  }