.chart {
    text-align: center;
}

a.data-dir-tree {
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
    color: var(--dir-tree-color)
}

a.data-dir-tree.data-dir-tree-selected {
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
    color: var(--dir-tree-active-color)
}

.data-dir-tree {
    min-width: 10vw;
    width: fit-content;
    text-align: left;
    font-family: ariel, monospace, sans-serif;
    font-size: large;
    line-height: 1.3;
    font-weight: normal;
    color: var(--dir-tree-lines-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

.data-dir-tree span {
    word-wrap: normal !important;
    white-space: nowrap !important;
    word-break: normal !important;
}