/*:root {
    ---ch-height: var(---ch-height, auto);
    --ch-width: 90vw;
}*/


/*p,
ul li {
    text-align: left !important;
}*/

.grid-parent.grid-parent {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(var(--num-cols, 2), 1fr);
    padding: 1px;
}

.grid-parent.grid-parent * {
    height: var(--item-height, unset);
    width: var(--item-width, unset);
    max-width: 95%;
    max-height: 95%;
}

.grid-parent.grid-parent>* {
    height: var(--ch-height, auto);
    width: var(--ch-width, auto);
    max-width: 100vw;
    border-style: dashed;
    border-color: var(--grid-border-color);
    border-width: 1px;
    max-height: 100vh;
    overflow: hidden;
}

.grid-parent.grid-parent code {
    width: 100%;
    height: 100%;
}

.grid-parent.grid-parent pre {
    width: 100%;
    height: 100%;
}


/*.grid-child.grid-child {
    max-width: 85vw;
    border-style: dashed;
    border-color: gray!important;
    border-width: 1px;
    max-height: 100vh;
    overflow: hidden;
}*/

.grid-parent.grid-parent * {
    overflow: hidden;
}

.grid-parent.grid-parent div>p,
.grid-parent.grid-parent div>h1,
.grid-parent.grid-parent div>h2,
.grid-parent.grid-parent div>h3,
.grid-parent.grid-parent div>h4,
.grid-parent.grid-parent div>h5,
.grid-parent.grid-parent div>h6,
.grid-parent.grid-parent div>span,
.grid-parent.grid-parent div>ul>li,
.grid-parent.grid-parent div>a {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.grid-parent.grid-parent div>p,
.grid-parent.grid-parent div>span,
.grid-parent.grid-parent div>ul>li,
.grid-parent.grid-parent div>a {
    font-family: ariel, monospace, sans-serif;
    font-size: x-large;
    line-height: 1.5;
    font-weight: normal;
    margin: 0
}

.data-svg-motion.data-svg-motion p,
.data-svg-motion.data-svg-motion span,
.data-svg-motion.data-svg-motion h1,
.data-svg-motion.data-svg-motion h2,
.data-svg-motion.data-svg-motion h3,
.data-svg-motion.data-svg-motion h4,
.data-svg-motion.data-svg-motion h5,
.data-svg-motion.data-svg-motion h6,
.data-svg-motion.data-svg-motion a,
.data-svg-motion.data-svg-motion li {
    display: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: revert;
    padding: revert;
    text-align: inherit;
    padding: inherit;
    border: inherit;
    font: inherit;
    vertical-align: inherit;
    opacity: inherit;
    /* color: inherit; */
    background-color: inherit;
    text-transform: inherit;
    border-color: inherit;
    word-wrap: inherit;
    white-space: inherit;
    box-sizing: inherit;
    max-height: inherit;
    overflow: inherit;
    text-align: inherit;
    pointer-events: inherit
}

.data-svg-motion.data-svg-motion h1 {
    font-size: 1.8em;
}

.data-svg-motion.data-svg-motion h2 {
    font-size: 1.5em;
}

.data-svg-motion.data-svg-motion h3 {
    font-size: 1.4em;
}

.data-svg-motion.data-svg-motion h4 {
    font-size: 1.3em;
}